*.*~ 
edite.sh
images/.DS_Store
.DS_Store
Info.plist
Makefile
obj/
moc/
build/
Collatinus.app/
Collatinus-*.dmg
MacOS/dsa_priv_collatinus.pem
collatinus.xcodeproj/
moc_main.cpp
qrc_collatinus.cpp
ui_collatinus.h
ui_config.h

