#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1




CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.

	# managing the file alpha.svg sent by Yves Ouvrard after the 
	# main archive

	qmake
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir

	# Add here commands to compile the package.
	$(MAKE)
	#/usr/bin/docbook-to-man debian/collatinus.sgml > collatinus.1

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	[ ! -f Makefile ] || make clean
	rm -f Makefile collatinus

	# managing the file alpha.svg sent by Yves Ouvrard after the 
	# main archive
	rm -f images/alpha.png

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/collatinus.
	install -m 755 collatinus $(CURDIR)/debian/collatinus9/usr/bin/collatinus9
	install -m 644 lemmata.* expressions.fr config lucretia.txt $(CURDIR)/debian/collatinus9/usr/share/collatinus9
	#cp passwd $(CURDIR)/debian/collatinus9/etc/collatinus
	gzip -c9 doc/collatinus.1 > $(CURDIR)/debian/collatinus9/usr/share/man/man1/collatinus9.1.gz
	install -m 644 doc/*.html doc/*.css $(CURDIR)/debian/collatinus-doc/usr/share/doc/collatinus/html

# Build architecture-independent files here.
binary-indep: build install

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
#	dh_install
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_perl
#	dh_pysupport
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
